.boxOne {
    background-color: #8a17d6;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxTwo {
    background-color: #395e34;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxThree {
    background-color: #8a17d6;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxFour {
    background-color: #395e34;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxFive {
    background-color: #8a17d6;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxSix {
    background-color: #395e34;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxSeven {
    background-color: #8a17d6;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxEight {
    background-color: #395e34;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxNine {
    background-color: #8a17d6;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxTen {
    background-color: #395e34;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxEleven {
    background-color: #8a17d6;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxTwelve {
    background-color: #395e34;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxone {
    background-color: #8a17d6;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxtwo {
    background-color: #395e34;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxthree {
    background-color: #8a17d6;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxfour {
    background-color: #395e34;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxfive {
    background-color: #8a17d6;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxsix {
    background-color: #395e34;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxseven {
    background-color: #8a17d6;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxeight {
    background-color: #395e34;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxnine {
    background-color: #8a17d6;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxten {
    background-color: #395e34;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxeleven {
    background-color: #8a17d6;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}

.boxtwelve {
    background-color: #395e34;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: -2px;
}